<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group m-b-15">
          <mat-label class="m-r-15">No account?</mat-label>
          <a mat-raised-button color="warn" routerLinkActive="router-link-active" (click)="onRegister()">Register</a>
        </div>
        <div class="form-group">
          <a mat-raised-button color="primary" class="m-r-15" routerLinkActive="router-link-active" (click)="onSocialLogin('google')">Google</a>
          <a mat-raised-button color="primary" class="m-r-15" routerLinkActive="router-link-active" (click)="onSocialLogin('linkedin')">LinkedIn</a>
        </div>
        <h2 matDialogTitle>Login</h2>
        <form #f="ngForm" [formGroup]="loginFormGroup" (ngSubmit)="onLogin(f)"  class="login-form">

          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="loginFormGroup.controls.email.errors">{{formErrorEmail}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" required>
              <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
                <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group m-b-15">
            <mat-error class="m-b-15" *ngIf="loginError">'The email address or password entered was invalid.</mat-error>
            <button mat-raised-button color="primary" [disabled]="!loginFormGroup.valid">Login</button>
            <button mat-raised-button class="m-l-10">Forgot Password?</button>
          </div>
          <div class="form-group">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
