<div class="row no-gutters data-list">
  <div class="col-md-12">
    <mat-card class="example-card m-b-15" *ngFor="let item of _items; let i = index">
      <mat-card-header class="header--no-avatar">
          <mat-card-title class="mat-card-title">{{item.title}}</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="item.image">
        <!-- <img mat-card-image src="/assets/images/dummy-image.jpg" alt="Photo of Dummy content"> -->
      </ng-container>
      <mat-card-content class="mat-card-content">
        <p>{{item.content}}</p>
      </mat-card-content>
      <mat-card-actions class="mat-card-actions text-right">
        <ng-template [ngTemplateOutlet]="footerTemplate" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- <ul class="col"> -->
    <!-- <virtual-scroller [items]="_items" [bufferAmount]="5" (vsUpdate)="viewPortItems = $event"  [ngStyle]="{height: virtualScrollHeight + 'px', 'overflow-y': items?.length < 5 ? 'visible' : 'auto'}"> -->
      <!-- <li >
        <ng-template [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{$implicit: item}">
        </ng-template>
      </li> -->
    <!-- </virtual-scroller> -->
  <!-- </ul> -->
</div>
