<sc-title [name]="title">
  <ng-template #actions>
    <button mat-icon-button (click)="goToPreview(true)" *ngIf="!isPreview">
      <mat-icon aria-hidden="false" aria-label="Show Contact Card">visibility</mat-icon>
    </button>
    <button mat-icon-button (click)="goToPreview(false)" *ngIf="isPreview">
      <mat-icon aria-hidden="false" aria-label="Hide Contact Card">visibility_off</mat-icon>
    </button>
  </ng-template>
</sc-title>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form" *ngIf="!isPreview">

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Personal Info">
      <div class="container" formGroupName="personal">
        <mat-form-field class="form-element">
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error>
            Error First Name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error>
            Error Last Name
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Email Address" formControlName="email">
          <mat-error>
            Error Email Address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-phone-prefix">
          <mat-label>Prefix</mat-label>
          <select matNativeControl formControlName="phonePrefix">
            <option selected value>0</option>
            <option *ngFor="let country of prefixList; let i = index" [value]="country.countryCallingCode">+{{country.countryCallingCode}} ({{country.flag}} {{country.countryNameEn}})</option>
          </select>
        </mat-form-field>

        <mat-form-field class="form-phone-number">
          <input matInput placeholder="Phone Number" formControlName="phoneNumber">
          <mat-error>
            Error Phone Number
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Job Title" formControlName="jobTitle">
          <mat-error>
            Error Job Title
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Website" formControlName="website">
          <mat-error>
            Error Website
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="City"  formControlName="city">
          <mat-error>
            Error City
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label>Country</mat-label>
          <select matNativeControl formControlName="country">
            <option selected value>None</option>
            <option *ngFor="let country of countriesList; let i = index" [value]="country.countryCode">{{country.countryNameEn}}</option>
          </select>
        </mat-form-field>

        <!-- <mat-form-field class="form-element m-b-15">
          <input matInput placeholder="Password" formControlName="country">
          <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
          <mat-error>
            getErrorPassword
          </mat-error>
        </mat-form-field> -->
      </div>
    </mat-tab>
    <mat-tab label="Social Accounts">
      <div class="container" formGroupName="socials" *ngIf="user?.socials">
        <mat-form-field class="form-element" *ngFor="let social of user.socials; let i = index">
          <input matInput placeholder="{{social.id | titlecase }}" [formControl]="profileForm.get('socials').get(social.id)">
          <mat-error>titleAlert</mat-error>
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button">Save</button>
  </div>

</form>

<div class="container" *ngIf="isPreview">

  <!-- Card widget -->
  <div class="card">
    <!-- Face 1 -->
    <div class="card-face face-1">
        <!-- Avatar -->
        <div class="card-face__avatar">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" width="110" height="110" draggable="false" />
        </div>

        <h2 class="card-face__name">{{user.firstName}} {{user.lastName}}</h2>
        <span class="card-face__title" *ngIf="user.jobTitle">{{user.jobTitle}}</span>
        <span class="card-face__subtitle" *ngIf="user.email">{{user.email}}</span>
        <span class="card-face__subtitle" *ngIf="user.website">{{user.website}}</span>
        <span class="card-face__subtitle" *ngIf="user.phoneNumber"><span *ngIf="user.phonePrefix">{{ '+' + user.phonePrefix}}</span> {{user.phoneNumber}}</span>
        <span class="card-face__subtitle" *ngIf="user.city && user.countryName">{{user.city + ', ' + user.countryName}}</span>
        <span class="card-face__subtitle" *ngIf="user.city && !user.countryName">{{user.city}}</span>
        <span class="card-face__subtitle" *ngIf="user.countryName && !user.city">{{user.countryName}}</span>
        <span class="divider"></span>

        <div class="card-face-footer">
          <ng-container *ngFor="let social of user.socials; let i = index">
            <a class="card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank" *ngIf="social.value">
              <img src="/assets/images/social-icons/{{social.id}}.svg" width="36" height="36" draggable="false"/>
            </a>
          </ng-container>
        </div>
    </div>
  </div>
</div>
