<sc-title [name]="'Contact Detail'" [navBack]="true" (navBackEvent)="onNavBack()">
  <ng-template #actions>
    <button mat-icon-button [routerLink]="['/post/new']" routerLinkActive="router-link-active">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Edit Contacts">edit</mat-icon>
    </button>
  </ng-template>
</sc-title>

<div class="container container__spinner" *ngIf="!contactData">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="contactData">

  <!-- Card widget -->
  <div class="card">
    <!-- Face 1 -->
    <div class="card-face face-1">
        <!-- Avatar -->
        <div class="card-face__avatar">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" width="110" height="110" draggable="false" />
        </div>

        <h2 class="card-face__name">Jon Snow</h2>
        <span class="card-face__title">House Stark & Lord of Winterfell</span>
        <span class="card-face__subtitle">jonsnow@website.com</span>
        <span class="card-face__subtitle">+34 600 123 345</span>
        <span class="card-face__subtitle">Barcelona, Spain</span>
        <span class="divider"></span>

        <div class="card-face-footer">
          <a class="card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank">
            <img src="/assets/images/social-icons/dribbble/Dribbble_icon-icons.com_66742.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://www.behance.net/mattia_astorino" target="_blank">
            <img src="/assets/images/social-icons/facebook/Facebook_icon-icons.com_66805.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank">
            <img src="/assets/images/social-icons/github/github-logo_icon-icons.com_73546.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/instagram/Instagram_icon-icons.com_66804.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/linkedin/iconfinder-social-media-applications-14linkedin-4102586_113786.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://www.behance.net/mattia_astorino" target="_blank">
            <img src="/assets/images/social-icons/pinterest/media_pinterest_social_icon_124257.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://www.behance.net/mattia_astorino" target="_blank">
            <img src="/assets/images/social-icons/skype/Skype_icon-icons.com_66795.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://www.behance.net/mattia_astorino" target="_blank">
            <img src="/assets/images/social-icons/snapchat/Snapchat_icon-icons.com_66936.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/spotify/Spotify_icon-icons.com_66783.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/tiktok/media_social_tiktok_icon_124256.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/tumblr/media_social_tumblr_icon_124254.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/twitter/Twitter_icon-icons.com_66803.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/vimeo/1485482337-vimeo_78659.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/whatsapp/whatsapp_icon-icons.com_62756.svg" width="36" height="36" draggable="false"/>
          </a>
          <a class="card-face__social" href="https://plus.google.com/u/0/+MattiaAstorino/posts" target="_blank">
            <img src="/assets/images/social-icons/youtube/Youtube_icon-icons.com_66802.svg" width="36" height="36" draggable="false"/>
          </a>
        </div>
    </div>
  </div>
</div>
