<sc-title name="Reset Password"></sc-title>

<div class="container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitRequest()" class="form" *ngIf="isRequestingPassword">

    <mat-form-field class="form-element">
      <input matInput placeholder="Email Address" formControlName="email">
      <mat-error>
        Error Email Address
      </mat-error>
    </mat-form-field>

    <div class="save-btn--container">
      <button
        mat-raised-button
        type="submit"
        class="button"
        [disabled]="!resetPasswordForm.valid">Save
      </button>
    </div>

  </form>

  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmitNewPassword()" class="form" *ngIf="!isRequestingPassword && hasValidToken">

    <mat-form-field class="form-element">
      <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="New Password" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordForm.controls.password.errors?.minlength">{{formErrorMinPassword}}</mat-error>
      <mat-error *ngIf="newPasswordForm.controls.password.errors?.maxlength">{{formErrorMaxPassword}}</mat-error>
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm New Password" formControlName="confirmPassword">
      <button type="button" mat-icon-button matSuffix (click)="showConfirmPassword = !showConfirmPassword">
        <mat-icon>{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error>{{formErrorMatch}}</mat-error>
    </mat-form-field>

    <div class="save-btn--container">
      <button
        mat-raised-button
        type="submit"
        class="button"
        [disabled]="!newPasswordForm.valid">Save
      </button>
    </div>

  </form>

</div>
