@import './src/scss/exports';

.header {
  // TODO: Change setColor to header-bg?
  // background-color: $header-bg;
  mat-toolbar {
    background-color: setColor(primary, dark);
    color: setColor(white, base);
  }

  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  position: fixed;

  &__title {
    color: setColor(white, base);
    p {
      font-size: 18px;
      margin-bottom: 0;
      span {
        font-weight: bold;
      }
    }
  }


  &__spacer {
    flex: 1 1 auto;
  }
}
