@import './src/scss/_exports';

.container {
  padding-top: 0;
  margin-top: 0;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  &:nth-first-child() {
    padding-top: 0px;
  }

  &.post-item {
    height: 70px;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

// card face block
.image__container {
  position: relative;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &--avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
  }
}

.searchbar {
  &__wrapper {
    margin-top: 20px;
  }
}

.align-center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px auto;
}

.align-center-item {
  max-width: 50%;
}

.icon--contacts-empty {
  height: auto;
  width: auto;
  font-size: 3.5em;
  margin-bottom: 15px;
}
