<sc-title [name]="'Contacts'">
  <ng-template #actions>
    <button mat-icon-button (click)="toggleSearchbar()" routerLinkActive="router-link-active">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Search contact">{{ isSearchbarVisible ? 'search_off' : 'person_search' }}</mat-icon>
    </button>
  </ng-template>
</sc-title>
<div class="container" *ngIf="isSearchbarVisible">
  <sc-searchbar class="searchbar__wrapper" (searchValue)="searchContacts($event)"></sc-searchbar>
</div>
<div class="spinner" *ngIf="!contacts">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="contacts?.length !== 0; else noPosts">
  <!-- TODO: Replace this in sc-data-list -->
  <mat-selection-list #selectionList [multiple]="false">
    <mat-list-option *ngFor="let contact of contacts" class="post-item" (click)="goToDetail(contact)">
      <div class="item">
        <div class="image__container">
          <div class="image__container--avatar"
                *ngIf="contact.image"
                [style.background]="'url(' + contact.image + ')'"
                [style.background-size]="'cover'"
                [style.background-position]="'center'">
          </div>
          <div class="image__container--avatar"
                *ngIf="!contact.image"
                [style.background]="'url(/assets/images/icon-noavatar.png)'"
                [style.background-size]="'cover'"
                [style.background-position]="'center'">
          </div>
        </div>
        <span class="p-l-15">{{ contact.firstName + ' ' + contact.lastName }}</span>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>

<ng-template #noPosts>
  <div class="container align-center-box">
    <div class="align-center-item">
      <mat-icon class="icon--contacts-empty" aria-hidden="false" aria-label="No Contacts">contacts</mat-icon>
      <p>NO CONTACTS FOUND</p>
    </div>
  </div>
</ng-template>
