@import './src/scss/_exports';

:host {
  .searchbox {
    padding-top: 20px;

  }
  .saveditems {
    span {
      padding-left: 5px;
      vertical-align: middle;
    }
  }

  sc-data-list {
    .data-item {
      align-items: center;
      height: 100px;
      > p {
        margin-bottom: 0;
      }
      .starred-icon {
        font-size: 25px;
        svg {
          fill: setColor(grey, darker);
        }
      }
      &--image {
        width: 65px;
        img {
          height: auto;
          // @include breakpoint(sm) {
          //   height: 75px;
          // }
        }
      }
    }
  }

  .buttons {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .saveditems {
    text-align: right;
  }
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  &.post-item {
    height: 70px;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.image {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  img {
    display: inline;
    margin: 0 auto;
  }
}

.container {
  margin-top: 0;
  padding-top: 0;
}

.searchbar {
  &__wrapper {
    margin-top: 20px;
  }
}

.align-center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 60px auto;
}

.align-center-item {
  max-width: 50%;
}

.icon--contacts-empty {
  height: auto;
  width: auto;
  font-size: 3.5em;
  margin-bottom: 15px;
}
