<div class="container" novalidate>

  <div class="logo__container">
    <div class="logo__container logo__container--img">
      <!-- TODO: Update LOGO and URL -->
      <img src="/assets/images/logo-dark.svg" draggable="false" />
    </div>
  </div>

  <!-- <h2 class="title">Log In</h2> -->

  <form #f="ngForm" [formGroup]="loginFormGroup" (ngSubmit)="onLogin()" class="form">
    <mat-form-field class="form-element">
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="loginFormGroup.controls.email.errors">{{FORM_ERRORS.EMAIL}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-element m-b-15">
      <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" required>
      <button type="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginFormGroup.controls.password.errors">{{FORM_ERRORS.PASSWORD}}</mat-error>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!loginFormGroup.valid">Submit Form</button>
    </div>

  </form>

  <div class="text-center">
    <p>Don't have an account? <a href="javascript:void(0)" (click)="goToPage('register')">Register</a></p>
    <p><a href="javascript:void(0)" (click)="goToPage('reset-password')">Reset Password?</a></p>
  </div>

</div>
