<div class="card">
  <div class="card__avatar"
        *ngIf="user.image"
        [style.background]="'url(' + user.image + ')'"
        [style.background-size]="'cover'"
        [style.background-position]="'center'">
  </div>
  <div class="card__avatar"
        *ngIf="!user.image"
        [style.background]="'url(/assets/images/icon-noavatar.png)'"
        [style.background-size]="'cover'"
        [style.background-position]="'center'">
  </div>

  <h2 class="card__name">{{user.firstName}} {{user.lastName}}</h2>
  <span class="card__title" *ngIf="user.jobTitle">{{user.jobTitle}}</span>
  <span class="card__subtitle" *ngIf="user.email">{{user.email}}</span>
  <span class="card__subtitle" *ngIf="user.website">{{user.website}}</span>
  <span class="card__subtitle" *ngIf="user.phoneNumber"><span *ngIf="user.phonePrefix">{{ '+' + user.phonePrefix}}</span> {{user.phoneNumber}}</span>
  <span class="card__subtitle" *ngIf="user.city && user.countryName">{{user.city + ', ' + user.countryName}}</span>
  <span class="card__subtitle" *ngIf="user.city && !user.countryName">{{user.city}}</span>
  <span class="card__subtitle" *ngIf="user.countryName && !user.city">{{user.countryName}}</span>
  <span class="divider"></span>

  <div class="card__footer">
    <ng-container *ngFor="let social of user.socials; let i = index">
      <a class="card__social" href="{{social.fullUrl}}" target="_blank" *ngIf="social.fullUrl">
        <img src="/assets/images/social-icons/{{social.id}}.svg" width="36" height="36" draggable="false"/>
      </a>
    </ng-container>
  </div>
</div>
