<sc-title [name]="'Contact Detail'" [navBack]="true" (navBackEvent)="onNavBack()">
  <ng-template #actions>
    <button mat-icon-button (click)="deleteContact()" routerLinkActive="router-link-active">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Remove Contact">delete</mat-icon>
    </button>
  </ng-template>
</sc-title>

<div class="spinner" *ngIf="!contactData">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="contactData">
  <sc-contact-detail [user]="contactData"></sc-contact-detail>
</div>
