@import './src/scss/exports';
::ng-deep {
  .data-list {
    ul {
      li {
        height: 100px;
        margin: 15px 0;
        border-radius: 8px;
        background-color: setColor(gray, lightest);
        list-style: none;
      }
    }
  }

  virtual-scroller {
    display: block;
    width: 100%;
  }


  .example-card {
    max-width: 100%;
  }

  .mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
  }

  .mat-card-header {
    .mat-card-header-text {
      margin: 0 0;
    }
  }
}
