<sc-title [name]="'Settings'">
</sc-title>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Delete Account</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{preDeleteMessage}}</p>
      <div class="m-t-15 m-b-15 text-center">
        <a mat-raised-button color="warn" class="button button__delete" (click)="confirmDeleteAction()" *ngIf="!confirmDelete">
          <span>Delete Account</span>
        </a>
      </div>
      <div class="m-t-15 m-b-15 text-center" *ngIf="confirmDelete">
        <p class="delete__warning"><b>This action is irreversible</b></p>
        <a mat-raised-button color="warn" class="button button__delete m-r-10" (click)="deleteUser()">
          <span>Confirm</span>
        </a>
        <a mat-raised-button color="warn" class="button button__delete" (click)="confirmDeleteAction()">
          <span>Cancel</span>
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
