<div class="section">
  <div class="container">
    <div class="row m-b-10">
      <div class="col-md-12 p-t-10">
          <a mat-raised-button [routerLink]="['/list']" routerLinkActive="router-link-active" class="m-r-10"> < Back</a>
          <a mat-raised-button color="warn" routerLinkActive="router-link-active" (click)="onDelete(postId)">Delete</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <h2 matDialogTitle>New post</h2>
          <form #f="ngForm" enctype="multipart/form-data" [formGroup]="postFormGroup" (ngSubmit)="submitPost(f)"  class="form-container">
            <mat-form-field>
              <input matInput placeholder="My new post" formControlName="title" required>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput rows="5" wrap="off" placeholder="My content..." formControlName="content" required></textarea>
            </mat-form-field>

            <!-- <button mat-raised-button type="button" (click)="filePicker.click()" class="m-b-20">Select image</button> -->
            <!-- <input type="file" #filePicker (change)="onImagePicked($event)"> -->

            <div class="form-group">
              <sc-file-uploader [progress]="progress" (fileEvent)="imageFileEvent($event)"></sc-file-uploader>
              <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
                <ng-container *ngIf="hasError('image', 'requiredFileType')">Invalid file type</ng-container>
              </div>
            </div>

            <div *ngIf="imagePreview">
              <img src="{{imagePreview}}" alt="">
            </div>

            <button mat-raised-button color="primary">Submit post</button>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- <mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <mat-grid-list [cols]="1" rowHeight="2:0.5">
  <mat-grid-tile>
    <h2 matDialogTitle>New post</h2>
          <form #f="ngForm" [formGroup]="postFormGroup" (ngSubmit)="submitPost(f)"  class="form-container">
            <mat-form-field>
              <input matInput placeholder="My new post" formControlName="title" required>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput rows="5" wrap="off" placeholder="My content..." formControlName="content" required></textarea>
            </mat-form-field>

            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>

            <button mat-raised-button type="button" (click)="filePicker.click()">Select image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">

            <div class="image-preview" *ngIf="imagePreview && postFormGroup.get('image').valid">
              <img [src]="imagePreview" [alt]="f.value.title">
            </div>

            <button mat-raised-button color="primary">Submit post</button>
          </form>
  </mat-grid-tile>
</mat-grid-list> -->
