<div class="section">
  <div class="container">
    <div class="row m-b-10">
      <div class="col-md-12 p-t-10">
          <a mat-raised-button [routerLink]="['/list']" routerLinkActive="router-link-active" class="m-r-10"> < Back</a>
          <a mat-raised-button color="warn" [routerLink]="['/list']" routerLinkActive="router-link-active">Delete</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <h2 matDialogTitle>New post</h2>
          <form #f="ngForm" [formGroup]="postFormGroup" (ngSubmit)="submitPost(f)"  class="form-container">
            <mat-form-field>
              <input matInput placeholder="My new post" formControlName="title" required>
            </mat-form-field>

            <mat-form-field>
              <textarea rows="5" wrap="off" matInput placeholder="My content..." formControlName="content" required></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary">Submit post</button>
          </form>
      </div>
    </div>
  </div>
</div>
