<header class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a class="header-title" [routerLink]="['/']" routerLinkActive="router-link-active">
        <span>DigiContacts</span>
      </a>
      <span class="header__spacer"></span>
      <ng-container *ngIf="currentUser">
        <button routerLink="list" routerLinkActive="active" (click)="goToContacts()" mat-icon-button>
            <mat-icon class="header__icon">list_alt</mat-icon>
        </button>
        <button mat-icon-button (click)="goToProfile()">
            <mat-icon class="header__icon">perm_identity</mat-icon>
        </button>
        <button class="header__icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToShare()">
              <mat-icon>share</mat-icon>
              <span>Share</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="!currentUser">
          <a mat-raised-button color="warn" routerLinkActive="router-link-active" (click)="goToRegister()">Register</a>
      </ng-container>

    </mat-toolbar-row>
  </mat-toolbar>
</header>
