<sc-title [name]="isQRVisible ? 'QR': 'Share'" [navBack]="isQRVisible" (navBackEvent)="backToList()">
</sc-title>

<div class="container">
  <div *ngIf="!isQRVisible">
    <a mat-raised-button class="button button__share" (click)="shareQR()" *ngIf="user?.qr">
      <span class="m-l-5 uppercase">qr code</span>
    </a>
    <a mat-raised-button class="button button__share" [href]="linkEmail" target="_blank">
      <span class="m-l-5 uppercase">email</span>
    </a>
    <a mat-raised-button class="button button__share" [href]="linkSMS" target="_blank">
      <span class="m-l-5 uppercase">sms</span>
    </a>
    <a mat-raised-button class="button button__share" (click)="shareLink()">
      <span class="m-l-5 uppercase">link</span>
    </a>
  </div>
  <div *ngIf="isQRVisible">
    <h3 class="text-center uppercase">Scan this QR codeSCAN THIS QR CODE</h3>
    <img [src]="user.qr">
  </div>
</div>
