<sc-title [name]="'Share'">
</sc-title>

<div class="container">
  <div *ngIf="!isQRVisible">
    <a mat-raised-button class="button button__share" (click)="shareQR()">
      <span class="m-l-5 uppercase">qr code</span>
    </a>
    <a mat-raised-button class="button button__share" [href]="linkEmail" target="_blank">
      <span class="m-l-5 uppercase">email</span>
    </a>
    <a mat-raised-button class="button button__share" [href]="linkSMS" target="_blank">
      <span class="m-l-5 uppercase">sms</span>
    </a>
    <a mat-raised-button class="button button__share" (click)="shareLink()">
      <span class="m-l-5 uppercase">link</span>
    </a>
  </div>
</div>
