@import './src/scss/_exports';

.container {
  &__qr {
    text-align: center;
    img {
      max-width: 300px;
    }
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.button {
  width: 100%;
  background-color: setColor(primary, base);
  color: setColor(white, base);
  &__share {
    padding: 20px 40px;
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
