@import './src/scss/_exports';

.file-drop-area {
  position: relative;
  text-align: center;
  &.is-active {
    background-color: #3F4069;
  }
}

.button {
  background-color: setColor(primary, base);
  color: setColor(white, base);
}
