@import './src/scss/_exports';

// https://codepen.io/Saminou24/pen/kXEYGB
.file-drop-area {
  position: relative;
  text-align: center;
}

.file-drop-area.is-active {
  background-color: #3F4069;
}

.button {
  background-color: setColor(primary, base);
  color: setColor(white, base);
}
